@import '../mixins/mixin';
@import '../variables/variable';

/*==============================================
                About Part Start
================================================*/
#about {
    padding: 78px 0 73px;
    background: #111111;

    .about_img {
        overflow: hidden;
        transition: all linear .3s;
        text-align: center;
        a {
            img {
                width: 320px !important;
                transition: all linear .3s;
            }
        }

        &:hover {
            a {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }

    .about_text {
        .common_head {
            padding-bottom: 30px;

            h2 {
                @include fs($white, 22px, 700, $dgl);
                text-transform: uppercase;
            }
        }

        p {
            @include fs($ash, 14px, 400, $open);
            line-height: 22px;
            padding-bottom: 35px;
            width: 570px;
            margin: 0 auto;

            span {
                display: block;
                padding-top: 25px;
            }
        }

        a {
            padding: 10px 20px;
            border: 2px solid $hover;
            @include fs($white, 16px, 700, $dgl);
            text-transform: uppercase;
            line-height: 1;
            transition: all linear .3s;

            &:hover {
                background: $hover;
            }
        }
    }
}

/*==============================================
                About Part End
================================================*/