@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: digital;
    src: url(/digital-serial/Digital-Serial-Bold.ttf);
}

@font-face {
    font-family: myriad-red;
    src: url(../../myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

.container{
    overflow: hidden;
}

body {
    overflow-x: hidden;
}

/*======================================================
                    Common Css End
========================================================*/